[Unit]
Description=Linux Hotspot Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/linux-hotspot run
ExecStop=/usr/local/bin/linux-hotspot stop
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
